@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

Circle {
    -fx-fill: "dodgerblue";
    -fx-stroke: "blue";
}

Rectangle {
    -fx-fill: "dodgerblue";/*transparent*/
    -fx-stroke: "blue";
}