@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

Circle {
    -fx-fill: "transparent";
    /*-fx-stroke: "blue";*/
}

Rectangle {
    -fx-fill: "transparent";/*transparent*/
    /*-fx-stroke: "blue";*/
}